#catalog .submenu {
  list-style-type: none;
}

.product {
  height: 200px;
  width: 150px;
}

.product .title {
  text-align: center;

}

.product .title a {
  color: black;
}

.product .image {
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  display: block;
  line-height: 1;
  padding: 4px;
}

.fancybox-title-text {

}

.hidden {
  display: none;
}

#fancybox-title-float-main a {
  color: white;
}

.product-full .field {
  margin: 10px 0 0 0;
}

.product-full .field .label {
  background: none;
  font-weight: bold;
  width: 100px;
  float: left;
  display: block;
  color: #444;
  text-rendering: optimizelegibility;
  text-shadow: none;
  font-size: 10pt;
}

.product-full .field-description .value {
  display: inline-block;
}

.container h1 {
  font-size: 14pt;
  color: #444;
}

.product-full h1 {
  margin-top: 10px;
  margin-bottom: 10px;}

.thumbs {
  margin-top: 20px;
}

.product-full .cool-box {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
}

.floating-box {
  display: inline-block;
  vertical-align: top;
}

.product-params {

}

.product-img {
  margin-right: 20px;
  margin-bottom: 20px;
}

#buy .icon-shopping-cart {
  margin-right: 5px;
  margin-top: 2px;
}

.cart {
  margin-top: 20px;
}

.cart #buy {
  float: right;
}

.modal-body .field {
  margin-bottom: 10px;
}

.navbar .navbar-inner .btn-navbar {
  float: left;
}

ul.slides {
  list-style-type: none;
}

.trenner_heading {
  background: url("../img/trenner_heading_back.png") repeat-x scroll 0 7px transparent;
  color: #9B9B9B;
  display: block;
  font: 14px/1.2em 'PT Sans Narrow',sans-serif;
  margin-bottom: 15px;
}

.trenner_heading span {
  background-color: #FFFFFF;
  margin-left: 4px;
  padding: 0 8px 0 3px;
}

#teaser {
  margin-bottom: 30px;
}

.boxes .first {
  margin-left: 0;
}

.field-description .value {
  margin-left: 20px;
}

.first-page-promo {
	list-style-type: none;
	margin-left: 0;
}

.first-page-promo li {
	margin-bottom: 10px;
	margin-left: 0;
}

.btn-block {
    -moz-box-sizing: border-box;
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
